@charset "UTF-8"
header {

    background-color: rgb(3, 92, 209);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1px;
    text-align: center;

    
    
}

body {
    background-color: rgb(200, 230, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    margin: 0;

}

p {
  text-align: justify;
  margin-right: 5%;
}

h1 {
    color: rgb(1, 14, 136);

}

h2 {
    color: rgb(2, 175, 255);

}
h3 {
    color: rgb(2, 175, 255);

}

footer {
  background-color: rgb(3, 92, 209);
  color: white;
  padding: 30px;
  text-align: center;
}

figure {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 0%;
}

ol {
  line-height: 190%;
}

.continuetocss {
    background-color: cornflowerblue;
    color: rgb(1, 14, 136);
    padding-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.plainlist {
  list-style-type: revert;
  margin: revert;
  padding: revert;
  width: revert;
  background-color: revert;
  position: revert;
  height: revert;
  overflow: revert;
  height: revert;
}

/* Here starts the navigation bar test from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_fixed*/
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  overflow: auto;
  height: fit-content;
}

li a {
  display: block;
  color: #000;
  padding: 3px 16px;
  text-decoration: none;
  font-size: 16px;
}

li a.active {
  background-color: rgb(1, 9, 82);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div {
  padding-left: 50px;
  margin-right: 5%;
}