/*Before starting let's reset and give some general styles  */

body,ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin-bottom: 200px;
}

a {
    text-decoration: none;
    color: rgb(179, 177, 177);
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/*CSS FLEXBOX 1*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/*CSS GRID 1*/

.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    row-gap: 20px; /*grid-gap is deprecated*/
    column-gap: 20px; /*grid-gap is deprecated*/
}

.grid-1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px; /*grid-gap is deprecated*/
    column-gap: 10px; /*grid-gap is deprecated*/
    align-items: center;

}

.grid-1 > div.advertising {
    display: block;
    grid-column: 1;
    grid-row: 2 / 5;
    border-top: 10px solid tomato;
}

