
header {

    background-color: rgb(3, 92, 209);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1px;
    text-align: center;
   
}

body {
    background-color: rgb(200, 230, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    margin-right: 5%;
    margin-left: 5%;

}

p {
  text-align: justify;
  margin-right: 5%;
}

/*As soon as I created article calles for organizing the topics, h1 changed font size to a little smaller than h2. It only returns to its previos (original) size if I attribute 3rem to it in CSS. Very, VERY STRANGE! */

h1 {
    color: rgb(1, 14, 136);
    /*font-size: 3rem;*/
}

h2 {
    color: rgb(2, 175, 255);
}
h3 {
    color: rgb(2, 175, 255);
}

footer {
  background-color: rgb(3, 92, 209);
  color: white;
  padding: 30px;
  text-align: center;
}

figure {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 0%;
}


/* Here are the article names. I'm dividing into articles (before the course gets to this subject) after reading about CSS best practices somewhere*/

.navbar-css {}

.color-class {}

.typography-class {}


/* End of articles*/




/* NAVBAR style start, copied and modified from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical */

ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  color: rgb(252, 50, 50);
}

li a {
  display: block;
  width: 200px;
  background-color: rgb(252, 50, 50);
  padding: 4px;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid red;
}
/* Nav Bar style end */


/*gradient class properties*/

.gradient {
  height: 500px;
  background-image: radial-gradient( white, blue);
  padding: 3%;
}