/*By placing a @charset "UTF-8" here in the first line, an error appeared under "header".
Deleted, anyway. Will find out later about this.
The same happened in the "style.ccs" at the root folder.*/

header {
    background-color: rgb(3, 92, 209);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1px;
    text-align: center;
}

body {
    background-color: rgb(200, 230, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    margin-right: 5%;
    margin-left: 5%;

}

p {
    text-align: justify;
    margin-right: 5%;
  }

 

/*As soon as I created article classes for organizing the topics, h1 changed font size to a little smaller than h2. It only returns to its previos (original) size if I attribute 3rem to it in CSS. Very, VERY STRANGE! */

h1 {
    color: rgb(1, 14, 136);
    /*font-size: 3rem;*/
}

#different {
  color: darkred;
}

h2 {
    color: rgb(2, 175, 255);
}
h3 {
    color: rgb(2, 175, 255);
}

.clarify-box {
  box-shadow: inset 0 0 1.5em chartreuse, 0 0 1em blue;
  width: 70%;
  margin: auto;
  padding: 2%;
  color: blue;
  margin-top: 3em;
  margin-bottom: 3em;
}

footer {
  background-color: rgb(3, 92, 209);
  color: white;
  padding: 30px;
  text-align: center;
}

figure {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 0%;
}


/* Here are the article names. I'm dividing into articles (before the course gets to this subject) after reading about CSS best practices somewhere*/

      .navbar-css {}

      .color-class {}

      .typography-class {}

      .text-alignment-class {}

      .explained-id-class {}
      
      


/* End of articles*/

/*"text-decoration:none" means that I don't want underlines in the links. Worked! It looks much better, I think.*/
a {
  text-decoration: none;
}


/* NAVBAR style start, copied and modified from
 https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical */

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

    }

    li a {
      display: block;
      width: 200px;
      background-color: white;
      padding: 4px;
      color: rgb(255, 255, 255);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: 2px solid red;
}
/* Nav Bar style end */


/*gradient class properties*/

    .gradient {
      height: 500px;
      width: 70%;
      box-shadow: 5px 5px 15px blueviolet;
      margin: auto;
      background-image: radial-gradient( white, blue);
      padding: 3%;
    }

/*gradient end*/


/*PSEUDO-CLASSES*/

div {
  display: inline-block;
  background-color: lightgray;
  text-align: center;
  width: 350px;
  height: 150px;
  border: 1px solid red;
  padding: 20px;
  margin: 10px;
}

div:hover {
  background-color: yellow;
  color: red;
  text-align: left;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2em;
}

div > p {
  display: none;

}

#d1:hover > p {
  display: block;
  font-size: 0.5em;
  color: blue;
  background-color: white;
  width: fit-content;
  height: 1em;
}



/*Another example of pseudo-classes, from w3schools*/

/*Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective.*/


/*Note: a:active MUST come after a:hover in the CSS definition in order to be effective.*/


/* So the order is:  LINK   ,   VISITED   ,   HOVER   ,   ACTIVE   */


/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: darkorange;
}

/* selected link */
a:active {
  color: black;
}
